<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog website</title>
    
</head>
<body>
    <form method="post" action="/articles" >
        <h2>Create new article</h2>
        <%- include('form_field') %>
    </form>
</body>
</html> 